@using System.Globalization;
@{
    ViewBag.Title = "Add";
}
@{
    var cultureItems = CultureInfo.GetCultures(CultureTypes.SpecificCultures).Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
.ToList(); 
}
<div style="margin-top: 55px;">
    <form asp-action="add" >
        语言：<select name="Culture" asp-items="cultureItems"> </select><br/>
        AliaName:@Html.TextBox("AliaName")<br />

        
    <input type="submit" value="添加" class="btn btn-default" />

</form>
</div>