@using Xakep.AspNetCore.Localization;
@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<LocalRequestLocalizationOptions> LocOptions

@{
    var XOptions = LocOptions.Value.GetReload();
    var cultureItems = XOptions.SupportedUICultures
.Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
.ToList();
}

<div>
    <form id="selectLanguage" asp-controller="Local" asp-action="Redirect" asp-route-returnUrl="@Context.Request.Path" method="post" class="form-horizontal" role="form">
        @Localizer["Language:"]
        <select name="culture" asp-for="@CultureInfo.CurrentUICulture.Name" asp-items="cultureItems"  onchange="javascript:selectLanguage.submit()">
        </select>
    </form>
</div>
